.ShrinkTheZa{
    width: 300px;
    border: solid #000000;
    background-color: #ffff00;
    border-radius: 10px;
}

.FancyText{
    font-family: Gloria Hallelujah, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 100;
}
.YellowText{
    color: yellow;
}
.chalkText{
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
h1{
    font-family: fantasy;
    font-size: 150px;
    font-weight: 300;
    background-color: yellow;
    color: red;
}

body{
    text-align: center;
    background-color: red;
}


.boxedIn{
    width: 25px;
}

.pizzaMenu{
    background: url(./assets/Menu.jpg) no-repeat;
    background-size: cover;
    border: solid yellow 2px;
}

div#answer{
    margin-top: 50px;
    margin-bottom: 20px;
}